body {
    background-color: #f5e6cc;
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  h1 {
    color: #8db6ac;
    
  }
  
  form {
    background-color: #fff6e5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #a89c94;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="Rpassword"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #f0e2d0;
  }
  
  input[type="submit"] {
    background-color: #8db6ac;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  
  
  input[type="submit"]:hover {
    background-color: #a89c94;
  }
  