/* Estilo para el cuerpo de la página */
body {
    background-color: #FCEDEA;
    color: #585858;
    font-family: Arial, sans-serif;
}

/* Estilo para los contenedores */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

/* Estilo para las filas */
.fila {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Estilo para las columnas */
.columna {
    background-color: #FDE2E4;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    margin: 20px;
    padding: 20px;
    width: 40%;
    max-width: 500px;
}

/* Estilo para las tablas */
table {
    border-collapse: collapse;
    margin: 10px 0;
    width: 100%;
}

/* Estilo para los encabezados de tabla */
th {
    background-color: #FADCD9;
    border: 1px solid #E3B5A4;
    padding: 10px;
}

/* Estilo para las celdas de tabla */
td {
    border: 1px solid #E3B5A4;
    padding: 10px;
}

/* Estilo para los títulos */
h2 {
    color: #E69A8D;
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Estilo para los campos de entrada de texto */
input[type="text"], input[type="number"] {
    border-radius: 5px;
    border: 1px solid #E3B5A4;
    padding: 5px;
    width: 100%;
}
button{
    color: #E69A8D;
    font-size: 1.5em;
    margin-bottom: 10px;
    
}
